<ion-view title="Login" id="page1">
  <ion-content padding="true" style="background: url(img/background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 120px;"></div>
    <form id="login-form2" class="list">
      <label class="item item-input" id="login-input1">
        <input type="text" placeholder="Username">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <form id="login-form3" class="list">
      <label class="item item-input" id="login-input2">
        <input type="text" placeholder="Password">
      </label>
    </form>
    <a ui-sref="secureLaunch" id="login-button1" class="button button-positive  button-block">Secure Login</a>
  </ion-content>
</ion-view>