<ion-view title="SecureLaunch" id="page2">
  <ion-content padding="true" style="background: url(img/background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form id="secureLaunch-form4" class="list">
      <label class="item item-input" id="secureLaunch-input3">
        <input type="text" placeholder="Key">
      </label>
      <div class="spacer" style="width: 300px; height: 90px;"></div>
    </form>
    <button id="secureLaunch-button2" class="button button-balanced  button-block">Launch</button>
    <button id="secureLaunch-button3" class="button button-assertive  button-block">Abort</button>
  </ion-content>
</ion-view>